html {
  font-size: 18px;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
.books-wrapper {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80vw;
}
.book {
  font-size: 1.2rem;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.book button {
  width: fit-content;
  align-self: flex-end;
  border: none;
  background-color: transparent;
}
.book button:hover {
  cursor: pointer;
}
.book img {
  width: 25px;
}
.book p + p {
  margin-top: 15px;
}

.add-book {
  width: 300px;
  height: 400px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}
